<article class="search-page">
	<div class="id-search-box">
		<main class="form-group id-search-box-width">
			<h2 class="searchBoxTitle">AutoPhoto</h2>
			<section class="searchBoxWrapper">
				<input  type="text" ng-model="searchString" ng-keypress="runScript($event)" placeholder="Event ID" class="searchBox form-control" />
				<button class="searchBtn" ng-click="search()">S</button>
			</section>
			<div class="alert alert-danger fade" ng-class="found=='not_found'? 'in':''">
				<strong>Error:</strong> {{msg}}
			</div>
			<div class="alert alert-success fade" ng-class="found=='found'? 'in':''">
		    	<strong>Success!</strong> Redirect you to the slide show..
		  	</div>
		</main>
	</div>
</article>